services:
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: devswap
      POSTGRES_PASSWORD: devswap
      POSTGRES_DB: devswap
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
